# Xкод
#
# участники gitignore: не забудьте обновить Global/Xcode.gitignore, Objective-C.gitignore и Swift.gitignore

# # Пользовательские настройки
xcuserdata /

# # совместимость с Xcode 8 и более ранними версиями (без учета необходимости запуска Xcode 9)
* .xcscmblueprint
* .xccheckout

# # совместимость с Xcode 3 и более ранними версиями (без учета необходимости запуска Xcode 4)
построить /
Производные данные /
* .отодвинут в сторону
* .pbxпользователь
! default.pbxuser
* .mode1v3
! по умолчанию.mode1v3
* .mode2v3
! по умолчанию.mode2v3
* .перспективаv3
! default.perspectivev3

# # Специально для Obj-C/Swift
* .hmap

# # Упаковка приложения
* .ипа
* .dSYM.zip
* .dSYM

# # Детские площадки
timeline.xctimeline
площадка.xcworkspace

# Менеджер пакетов Swift
#
# Добавьте эту строку, если вы хотите избежать проверки исходного кода из зависимостей Swift Package Manager.
# Пакетов/
# Пакет.pins
# Пакет.разрешен
# *.xcodeproj
#
# Xcode автоматически создает этот каталог с файлом .xcworkspacedata и xcuserdata
# поэтому он не нужен, если вы не добавили файл конфигурации пакета в свой проект
# .свифтпм

.сборка /

# CocoaPods
#
# Мы не рекомендуем добавлять каталог Pods в ваш .gitignore. Однако
# судите сами, плюсы и минусы указаны по адресу:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Стручков/
#
# Добавьте эту строку, если вы хотите избежать проверки исходного кода из рабочей области Xcode
# *.xcworkspace

# Карфаген
#
# Добавьте эту строку, если хотите избежать проверки исходного кода из зависимостей Carthage.
# Картаж/Кассы

Карфаген / Строить /

# Управление зависимостями Accio
Зависимости /
.accio /

# полоса обгона
#
# Не рекомендуется хранить скриншоты в репозитории git.
# Вместо этого используйте полосу быстрого доступа для повторного создания скриншотов всякий раз, когда они необходимы.
# Для получения дополнительной информации о рекомендуемой настройке посетите:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

быстрая полоса / отчет.xml
полоса обгона / Предварительный просмотр.html
fastlane / скриншоты / ** / * .png
полоса обгона / test_output

# Внедрение кода
#
# После инструментов внедрения нового кода создается сгенерированная папка /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject /
